main {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.perfilHome {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.perfilHome img {
  width: 50%;
  border-radius: 50%;
  padding: 4px;
  border: 2px solid #bb99dd;
}

.perfilInstagram {
  margin-bottom: 32px;
}

.perfilInstagram span {
  font-size: 14px;
  font-weight: 300;
}

.perfilLink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.perfilLink button {
  margin-bottom: 16px;
  padding: 12px;
  width: 450%;
  border: 2px solid #bb99dd;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background: transparent;
  color: #bb99dd;
  font-weight: 600;
}

.perfilIcon {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 60%;
  font-size: 24px;
}
